* {
    margin: 0;
    background-color: #f4f6ff;
    text-align: center;
}
.crypto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-color: #fbd46d;
    border-style: solid;
}
h1 {
    margin: 20px;
    color: #4f8a8b;
}
select {
    margin: 10px;
}
